.breadcrumbs {
  display: flex;
  gap: 16px;
  align-items: center;

  a {
    font-family: "Geometria", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: map-get($colors, "gray");
    position: relative;

    &::before {
      content: "/";
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      color: map-get($colors, "gray");
    }

    &:first-of-type::before {
      content: "";
    }

    &:last-of-type {
      font-weight: 500;
    }
  }
}
