.container {
  margin: 0 auto;
  max-width: 1292px;
  width: 100%;
  padding: 0px 45px;

  @media (max-width: 640px) {
    padding: 0px 20px;
  }

  @media (max-width: 480px) {
    padding: 0px 16px;
  }
}
