.footer {
  background-color: #393f51;
  color: map-get($colors, "white");
  padding: 80px 0;

  &__content {
    display: flex;
    gap: 35px;
    justify-content: space-between;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 229.67px;
  }

  &__general {
    display: flex;
    gap: 20px;
  }

  &__description {
    font-size: 11px;
    line-height: 18px;
    margin-top: -5px;
    font-family: "Geometria", sans-serif;
  }

  &__images-wrapper {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }

  &__menu {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__links-list {
    max-width: 150px;
    display: flex;
    flex-direction: column;

    & > a {
      &:first-child {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
      }

      &:not(:first-child):not(:last-child) {
        margin-bottom: 5px;
      }

      font-family: "Geometria", sans-serif;
      text-decoration: none;
      font-size: 14px;
      color: map-get($colors, "white");

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  &__contacts {
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 15px;

    & > a {
      font-weight: 700;
      font-size: 18px;
      font-family: "Geometria", sans-serif;
      text-decoration: none;
      font-size: 14px;
      color: map-get($colors, "white");

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & > a {
      display: inline-flex;
      font-family: "Geometria", sans-serif;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid map-get($colors, "so-dark-orange");
      transition: all 0.3s;

      &:hover {
        background-color: map-get($colors, "orange");
        border: 1px solid map-get($colors, "orange");
      }
    }
  }
}
