.header {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
  padding: 40px 45px;

  @media (max-width: 640px) {
    padding: 17px 20px;
  }

  @media (max-width: 480px) {
    gap: 0;
  }

  &__menu-toggle {
    display: none;

    @media (max-width: 1500px) {
      display: block;
    }
  }

  &__start {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__left {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-items: center;

    @media (max-width: 640px) {
      width: 100%;
      max-width: 440px;
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    width: 1020px;
    align-items: center;

    @media (max-width: 1500px) {
      display: none;
    }

    & > a {
      text-wrap: nowrap;
      display: block;
      text-decoration: none;
      color: map-get($colors, "white");
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 23px 20px;
      height: 60px;
      letter-spacing: 1.24px;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: map-get($colors, "dark-orange");
      }
    }
  }

  &__right {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}
