.search {
  &__trigger {
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    background-color: map-get($colors, "dark-orange");
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transition: 0.2s;

    &:hover {
      background-color: map-get($colors, "orange");
    }

    @media (max-width: 480px) {
      display: none;
    }
  }
}
