.accordion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 0;
  border-top: 1.5px solid #00000029;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;

    & > p {
      font-family: "Geometria", sans-serif;
      font-size: 20px;
    }
  }

  & > p {
    display: none;
    font-family: "Geometria", sans-serif;
    font-size: 20px;
  }

  &__value--active {
    display: block !important;
  }
}
