.button {
  padding: 10px 38px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  color: map-get($colors, "white");
  background-color: map-get($colors, "dark-orange");
  width: 388px;
  height: 50px;
  transition: 0.2s;

  &--middle {
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.17px;
    color: #ffffff;
    padding: 20px 75px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
  }

  &--small {
    width: 260px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 16px;
  }

  &--full-width {
    width: 100%;
  }

  &:hover {
    background-color: map-get($colors, "orange");
  }

  @media (max-width: 640px) {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
