.button {
  padding: 10px 38px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  color: map-get($colors, "white");
  background-color: map-get($colors, "dark-orange");
  width: 388px;
  height: 50px;
  transition: 0.2s;

  &--small {
    width: 260px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 16px;
  }

  &--full-width {
    width: 100%;
  }

  &:hover {
    background-color: map-get($colors, "orange");
  }

  @media (max-width: 640px) {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
