.input {
  width: 100%;
  background-color: map-get($colors, "white");
  padding: 20px 24px;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.17px;
  font-family: "Geometria", sans-serif;
}
