.select {
  height: 60px;
  background: #ffffff;
  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #858585;
  padding: 18px 10px 20px 24px;
  border: 1px solid transparent;
  outline: none;
  margin-top: 10px;
  width: 100%;
  appearance: none;
}
