.textarea {
  width: 100%;
  min-height: 110px;
  resize: none;
  padding: 20px 24px;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.17px;
  font-family: "Geometria", sans-serif;
  background-color: map-get($colors, "white");
}
