.benefits {
  background-color: map-get($colors, "light-gray");

  &__content {
    padding: 77px 0;
    display: flex;
    flex-direction: column;
    gap: 59px;

    @media (max-width: 1500px) {
      padding: 40px 0;
      gap: 28px;
    }

    & > h2 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: map-get($colors, "so-dark-orange");

      @media (max-width: 1500px) {
        font-size: 24px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    & > div {
      border-top: 1.5px solid #00000029;

      &:last-of-type {
        border-bottom: 1.5px solid #00000029;
      }
    }

    @media (max-width: 1500px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      & > div {
        border-top: 1.5px solid #00000029;

        &:nth-last-child(-n + 2) {
          border-bottom: 1.5px solid #00000029;
        }
      }
    }

    @media (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);

      & > div:nth-last-child(-n + 2) {
        border-bottom: none;
      }

      & > div:last-of-type {
        border-bottom: 1.5px solid #00000029;
      }
    }
  }
}
