.caf-grid-item {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 1500px) {
    gap: 0;
  }

  @media (max-width: 480px) {
    min-width: 290px;
  }

  &__start {
    display: flex;
    align-items: end;
    gap: 20px;

    @media (max-width: 1500px) {
      gap: 10px;
    }
  }

  &__percent,
  &__description,
  &__label-start {
    font-family: "Geometria", sans-serif;
  }

  &__description,
  &__label-start {
    font-size: 20px;

    @media (max-width: 1500px) {
      font-size: 16px;
    }
  }

  &__percent {
    font-weight: 500;
    font-size: 120px;
    letter-spacing: -10px;
    height: 125px;

    &--danger {
      color: map-get($colors, "so-dark-orange");
    }

    @media (max-width: 1500px) {
      font-size: 80px;
      height: 86px;
      letter-spacing: -7px;
    }
  }

  & > p {
    font-family: "Geometria", sans-serif;
  }
}
