.caf {
  background-color: map-get($colors, "light-gray");

  &__content {
    padding: 77px 0;
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      padding: 40px 0;
      gap: 28px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (max-width: 1500px) {
      gap: 0px;
    }

    & > h2 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 40px;
      text-align: center;
      color: map-get($colors, "so-dark-orange");

      @media (max-width: 1500px) {
        font-size: 24px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 48px;

    @media (max-width: 1500px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 17px;
    }

    @media (max-width: 480px) {
      display: flex;
      gap: 0;
      overflow: auto;
    }
  }
}
