.facts {
  display: flex;
  gap: 34px;
  flex-wrap: nowrap;

  @media (max-width: 1500px) {
    flex-direction: column;
    gap: 19px;
  }

  & > li {
    position: relative;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    width: 287px;
    letter-spacing: 0.7px;
    padding-left: 18px;
    color: map-get($colors, "white");
    list-style-type: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 9px;
      background-color: map-get($colors, "dark-orange");
      border-radius: 50%;
    }
  }
}
