.how-it-work-card {
  padding: 19px;
  width: 388px;
  border: 1px solid #dc5d5b;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 56px;

  &--full-width {
    width: 100%;
  }

  &--filled {
    background-color: map-get($colors, "light-gray");
    border: none;
  }

  @media (max-width: 1500px) {
    min-height: 176px;
    width: 100%;
    gap: 28px;
  }

  @media (max-width: 480px) {
    min-width: 256px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  &__index {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;

    &-circles {
      display: flex;
      gap: 4px;

      & > span {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: map-get($colors, "dark-orange");
      }
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > h3 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 1px;

      @media (max-width: 1500px) {
        font-size: 18px;
      }

      @media (max-width: 480px) {
        letter-spacing: 0;
      }
    }

    & > p {
      font-family: "Geometria", sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.8px;

      @media (max-width: 1500px) {
        font-size: 16px;
      }

      @media (max-width: 480px) {
        letter-spacing: 0;
      }
    }
  }
}
