.principles {
  &__content {
    padding: 54px 0 190px 0;
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      padding: 40px 0;
      gap: 28px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1500px) {
      gap: 10px;
    }

    & > h2 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: map-get($colors, "so-dark-orange");

      @media (max-width: 1500px) {
        font-size: 24px;
      }
    }

    & > p {
      font-family: "Geometria", sans-serif;
      font-weight: 400;
      font-size: 20px;

      @media (max-width: 1500px) {
        font-size: 16px;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(6, 1fr);

    & > div:nth-child(1),
    & > div:nth-child(2) {
      grid-column: span 3;
    }

    & > div:nth-child(n + 3) {
      grid-column: span 2;
    }

    @media (max-width: 1500px) {
      & > div:nth-child(1),
      & > div:nth-child(2) {
        grid-column: auto;
      }

      & > div:nth-child(n + 3) {
        grid-column: auto;
      }

      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      display: flex;
      overflow-x: auto;

      & > div {
        flex-shrink: 0;
      }
    }
  }
}
