.profits {
  &__content {
    padding: 84px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      padding: 40px 0;
      gap: 28px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1500px) {
      gap: 10px;
    }

    & > h2 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: map-get($colors, "so-dark-orange");

      @media (max-width: 1500px) {
        font-size: 24px;
      }
    }

    & > p {
      font-family: "Geometria", sans-serif;
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1500px) {
      justify-content: end;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      display: flex;
      overflow: auto;
      justify-content: inherit;

      & > div {
        flex-shrink: 0;
      }
    }
  }

  &__bid {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &--mobile {
      display: none;
    }

    @media (max-width: 1500px) {
      display: none;
      gap: 20px;

      &--mobile {
        display: flex;
        justify-content: end;
      }
    }

    @media (max-width: 480px) {
      display: flex;
      gap: 20px;

      &--mobile {
        display: none;
      }
    }

    & > p {
      max-width: 633px;
      letter-spacing: -0.05px;
      font-family: "Geometria", sans-serif;
      font-size: 20px;

      @media (max-width: 1500px) {
        font-size: 16px;
      }
    }
  }
}
