.profit {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid map-get($colors, "light-gray");

  @media (max-width: 1500px) {
    padding: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;

    & > h3 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 20px;

      @media (max-width: 1500px) {
        font-size: 18px;
      }
    }
  }

  & > ul {
    padding-left: 24px;

    & > li {
      font-family: "Geometria", sans-serif;
      font-size: 20px;
      padding-left: 5px;

      @media (max-width: 1500px) {
        font-size: 16px;
      }
    }
  }
}
