.service {
  min-height: 115px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: map-get($colors, "white");
  transition: 0.3s;

  &:hover {
    color: map-get($colors, "white");
    background-color: map-get($colors, "so-dark-orange");
  }

  @media (max-width: 1500px) {
    min-height: 86px;
  }

  @media (max-width: 480px) {
    min-height: 46px;
  }

  & > h3 {
    font-family: "Geometria", sans-serif;
    font-size: 20px;

    @media (max-width: 1500px) {
      font-size: 18px;
    }
  }
}
