.understanding {
  &__content {
    padding: 84px 0;
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      padding: 40px 0;
      gap: 28px;
    }

    & > h2 {
      text-align: center;
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: map-get($colors, "so-dark-orange");

      @media (max-width: 1500px) {
        font-size: 24px;
      }
    }
  }

  &__swiper-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1855px;
  }

  &__image {
    width: 303px;
    object-fit: cover;
    height: 90px;

    @media (max-width: 1500px) {
      width: 140px;
      height: 70px;
    }
  }
}
