.what-this {
  &__content {
    padding: 84px 0;
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      padding: 40px 0;
      gap: 28px;
    }
  }

  &__blocks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      gap: 24px;
    }
  }

  &__outsourcing {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    & > h4 {
      font-family: "Geometria", sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 2.3px;
      margin-left: 27px;
      letter-spacing: 1.05px;

      & > li {
        font-family: "Geometria", sans-serif;
        padding-left: 5px;

        @media (max-width: 1500px) {
          width: 270px;
          font-size: 16px;
        }
      }

      @media (max-width: 1500px) {
        letter-spacing: 0;
        margin-left: 20px;
        gap: 0;
      }
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 1500px) {
      gap: 24px;
    }

    & > h3 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: map-get($colors, "dark-orange");

      @media (max-width: 640px) {
        font-size: 24px;
      }
    }
  }

  &__main-tasks {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media (max-width: 1500px) {
      gap: 30px;
    }

    & > h4 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 20px;

      @media (max-width: 1500px) {
        max-width: 400px;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media (max-width: 1500px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 30px;
      }

      @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__peculiarities {
    display: flex;
    flex-direction: column;
    gap: 26px;

    & > h4 {
      font-family: "Geometria", sans-serif;
      font-weight: 500;
      font-size: 20px;
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;

      @media (max-width: 1500px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
      }

      & > li {
        max-width: 820px;
        margin-left: 10px;
        padding-left: 28px;
        position: relative;
        font-family: "Geometria", sans-serif;
        letter-spacing: -0.1px;
        font-size: 20px;
        list-style-type: none;

        @media (max-width: 1500px) {
          font-size: 16px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          width: 10px;
          height: 10px;
          background-color: map-get($colors, "dark-orange");
          border-radius: 50%;
          box-shadow: 0 0 0 5px rgba(231, 174, 165, 0.4);
        }

        &::after {
          content: "";
          position: absolute;
          left: 5px;
          top: 1.5px;
          transform: translate(-50%, 0);
          width: 27px;
          height: 27px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid #e0d2d133;
        }

        & > span {
          font-family: "Geometria", sans-serif;
          font-weight: 500;
          letter-spacing: -0.1px;
          font-size: 20px;

          @media (max-width: 1500px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
