*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-text-size-adjust: 100%;
}

button,
input,
select,
textarea {
  background: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.text-white {
  color: map-get($colors, "white");
}

img {
  max-width: 100%;
}
