@import "../scss/fonts";
@import "../scss/colors";
@import "../scss/common";
@import "../scss/blocks/index/intro";
@import "../scss/blocks/header";
@import "../scss/blocks/lang";
@import "../scss/blocks/eph";
@import "../scss/blocks/search";
@import "../scss/blocks/container";
@import "../scss/ui/button";
@import "../scss/blocks/index/facts";
@import "../scss/blocks/breadcrumbs";
@import "../scss/blocks/index/what-this";
@import "../scss/blocks/index/task";
@import "../scss/blocks/index/caf";
@import "../scss/blocks/index/caf-grid-item";
@import "../scss/blocks/index/how-it-work";
@import "../scss/blocks/index/how-it-work-card";
@import "../scss/blocks/index/benefits";
@import "../scss/blocks/index/benefit";
@import "../scss/blocks/index/profits";
@import "../scss/blocks/index/profit";
@import "../scss/blocks/index/principles";
@import "../scss/blocks/index/offers";
@import "../scss/blocks/index/offer";
